text.actor {
    font-family: 'trebuchet ms', verdana, arial;
    font-size: 14px;
}

.messageText {
    font-family: 'trebuchet ms', verdana, arial;
    font-size: 13px;
}

.noteText {
    font-family: 'trebuchet ms', verdana, arial;
    font-size: 13px;
}
